html {
    scroll-behavior: smooth;
}

#nav {
    background-image: url("https://wallpaperaccess.com/full/1600886.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    font-weight: 700;
}

#all {
    background-color: whitesmoke;
}

h1 {
    color: black;
    font-weight: bolder;
}

td {
    color: black;
}

th {
    color: black;
}

/*----------------------*/


#homeBG {
    /*height: 450px;
    width: 100%;
    margin: 0 auto !important;
    background-image: url("https://wallpapercave.com/wp/wp2020430.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover*/;
    text-align: center;
}

/*----------------------*/

#welcomeSection {
    display: flex;
    justify-content: space-around;
}

.welcome {
    width: 100%;
    border: 1px;
}

/*----------------------*/

#locationSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*----------------------*/

.aboutSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#abSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.abImage{
    height: 230px
}

.abImSection {
    width: 20%;
}

.about {
    width: 100%;
    padding-left: 300px;
}

/*----------------------*/

#serviceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.services {
    width: 50%;
}

.service {
    width: 50%;
    background-color: black;
    color: white !important;
}

.serviceButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

/*----------------------*/

.serviceImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

